/*parametros del html y body*/
html{
    box-sizing: border-box;
    font-size: 62.5%; /*(1rem= 10px)*/
}
*,*::after,*::before{
    box-sizing: inherit;
}

body{
    display: grid;
    grid-template-areas: 
    "header"
    "main"
    "footer";
    grid-template-rows: 15%,1fr,5%;
    margin: 0 auto;
    text-align: center;
    height: 100vh;
}
.divheader{
    grid-area: header;
}
.divmain{
    grid-area: main;  
}
.imgheader{
    background-image: url(https://image.freepik.com/vector-gratis/supermercado-cliente-plana-vector-banner-plantilla_82574-4049.jpg);
    height: 35rem;
    background-size:cover;
    background-position:center center;
    background-repeat: no-repeat;
}
.text-header{
    margin-top: 9rem;
    padding: 3rem;
    font-size: 5rem;
}
.main-grid-3C{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    justify-items: center;
    align-items: center;
    gap: 1rem;
}
main{
    margin-top: 2rem;
    height: 3rem;
    font-size: 1.5rem;
}
.txtprod-add{
    background-color: rgb(136, 135, 135);
    color: rgb(175, 206, 233);
    height: 20rem;
    width: 20rem;
}
.txtprod-delete{
    background-color: rgb(241, 158, 158);
    color: black;
    height: 20rem;
    width: 20rem;
}
input{
    height: 3rem;
}
.txt-size{
    font-size: 1.5rem;
}
.txt-left{
    text-align: left;
}
.totale{
    background-color: aquamarine;
    color: black ;
    width: 5rem;
}
.nuevoprod{/*se usa*/
    width: 35rem;
    background-color: rgb(255, 255, 255);
    border: 0.1rem solid black;
    border-radius: 0.5rem;
}
.prod{/*se usa*/
    display: grid;
    grid-template-columns: 1fr 7% 7%;
    grid-gap: 5px;
}
.imgdeleteprod{/*se usa*/
    background-color: transparent;
    border: 0;
    background-image: url(../img/check_false.jpg);
    height: 2.4rem;
    width: 2.4rem;
    background-size:cover;
    background-position:center center;
    background-repeat: no-repeat;
    margin: auto;
}
.imgprodcheck{/*se usa*/
background-color: transparent;
border: 0;
background-image: url(../img/check_true.jpg);
height: 2.4rem;
width: 2.4rem;
background-size:cover;
background-position:center center;
background-repeat: no-repeat;
margin: auto;
}
.imgdeleteprod:hover{/*se usa*/
opacity: 0.5;
}
.imgtprodcheck:hover{/*se usa*/
opacity: 0.5;
}
.prodcheck{/*se usa*/
background-color: rgb(2, 172, 2);
}
.flexprod{/*se usa*/
display: flex;
flex-direction: column;
background-color: rgb(224, 224, 224);
align-items: center;
justify-content:space-around;
}
.bt-main{/*se usa*/
    margin-top: 2rem;
    height: 3rem;
    font-size: 1.5rem;
}
.btn-dark-ligth{/*se usa*/
    display: inline-block;
    background-color: #080808;
    color: white;
    font-size: 2rem;
    padding: 0.5rem 1rem;
    margin-top: 2rem;
    text-align: center;
}
