/*style con LLAMADO DE ETIQUETA*/
#grid{
    /*vamos a decirle que su contenido va a hacer una grilla*/
    display: grid;
    /*Armar plantillas de columnas y plantillas de filas*/
    grid-template-columns: repeat(5,1fr) ; /*repetir 1fr 5 veces*/
    grid-template-rows: 1fr 1fr; /*fr: free space {lo divide en partes iguales dependiendo la pantalla}*/
    grid-gap: 1vw; /*separacion entre cada elem de la grilla*/
    background-color: aqua;
}

.grid-div{
    font-size: 25px;
    background-color: blue;
    color: white;
    border: 1px solid black;
    padding: 15px;
    text-align: center;
    margin: 5px;
}

