/*style con LLAMADO DE ETIQUETA*/
body {
    background-color: grey;
    font-family: Arial, Helvetica, sans-serif;
}

form{
    max-width: 300px;
    margin: 0px;/**separa entre elementos*/
}
label{
 display: block;
 margin-top: 15px;
}

.inputStyle{
    border: 1px solid blue;
    border-radius: 45px;
    padding: 3px;
}
select{
    display: block;
    appearance: none; /*desaparece la flechita de bajar*/
    margin-bottom: 15px;
    border: 1px solid blue;
    border-radius: 45px;
    padding: 3px;
}
.bte_Style{
 background-color: aquamarine;
 color: rgb(253, 253, 253);
 border-radius: 10px;
 padding: 3px 10px;
 border: 0px;
 cursor: pointer;
}
.btc_Style{
    background-color: rgb(240, 108, 56);
    color: rgb(252, 252, 252);
    border-radius: 10px;
    padding: 3px 6px;
    border: 0px;
    cursor: pointer;
   }

.bte_Style:hover {
    background-color: white;
    color: aquamarine;
   }
/*
img{
    width: 30%; reduccion de la imagen
    aspect-ratio: 16/9; estilo de pantalla
    object-fit: contain; mantenga el formato sin estirar
} */

