/*
como lo incluimos
-directamente sobre el elemento(etiqueta) usando la propiedad "style". ahi directamente escribimos nuestro codigo css
-en la cabeza de nuestro html, usando una etiqueta llamada "style" podemos decir el diseño que tendra en la pag
 los elementos que indiquemos
-en una hoja aparte



SELECION DE ELEMENTOS
-A traves del tag(etiqueta) xej(a,div,nav)
-A traves de la class xej(class="contenedor",class="texto",class="carta")
-A traves del ID xej (ID="micontenedor",ID="mitexto",ID="micarta")

selecion a traves de class usamos el "."
*/
.contenedor3{
    background-color: brown;
}
.container{
    background-color: yellowgreen;
    border: 2px dotted black;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 40px;
    color: black;
    /*bordes al texto*/
    -webkit-text-stroke: 1px white;
    text-shadow: -6px 5px 0 blue;
    /*separacion: -contenido del borde y los elementos entre si*/
    padding: 5px;/*contenido con sus bordes*/
    margin: 5px;/*contenido con otros elementos*/
    /*las separaciones tiene sus propios atributos individuales:
    margin-top
    margin-bottom
    margin-left
    margin-right
    padding-top...etc
    */
}