/*style con LLAMADO DE ETIQUETA*/


.GridTemplate{
    background-color: gray;
    display: grid;
    grid-template-areas: 
    "Header Header Header"
    "Nav Section Aside"
    "Footer Footer Footer";
    grid-template-rows: 20% 1fr 10%;
    grid-template-columns: 80px 1fr 80px;
    grid-gap: 10px;
    height: 100vh;
    margin: 0px;
}
/*cadena de elementos*/
Header,Nav,Section,Aside,Footer{
    background-color: rgb(199, 131, 48);
    border: 3px solid black;
}
/*vamos a decirle a cada elemento cunato debe medir*/
#pancho{
    grid-area: Header ;
}
#pagenav{
    grid-area: Nav;
}
#pagesection{
    grid-area: Section;
}
#pageaside{
    grid-area: Aside;
}
#pagefooter{
    grid-area: Footer;
}
